@charset "utf-8";
/* CSS Document */

body{ margin:0px; padding:0px; font-size:12px; font-family:"微软雅黑"; line-height:22px; color:#333; background:url(../images/jz_07.png) repeat-x top left;}
ul,li{ margin:0px; padding:0px; list-style:none;}
a{ color:#333; text-decoration:none;}
a:hover{ color:#f00; text-decoration:none;}
img{ border:0px;}

.head{ height:87px; background:url(../images/jz_01.jpg) repeat-x; overflow:hidden;}
.head .top{ width:1000px; margin:auto; overflow:hidden;}
.head .top .logo{ float:left; margin-top:22px;}
.head .top .logo img{ width:375px; height:44px;}
.head .top .right{ float:right; color:#fff; text-align:right; background:url(../images/jz_02.jpg) no-repeat left center; height:87px; width:400px;}
.head .top .right span{ margin-top:10px; display:block;}
.head .top .right span a{ padding:0 10px; color:#fff;}
.head .top .right .tell{ font-size:18px; font-weight:bold; margin-top:20px;}

.menu{ height:42px; background:url(../images/jz_03.jpg) repeat-x; overflow:hidden;}
.menu .menu_01{ width:1000px; margin:auto; }
.menu .menu_01 #nav{ float:right;}
.menu .menu_01 #nav li{ float:left; line-height:42px;}
.menu .menu_01 #nav li a{ width:120px; background:url(../images/jz_06.jpg) repeat-x; border-left:1px solid #fff; display:block; text-align:center; font-size:16px; font-weight:500; color:#fff;}
.menu .menu_01 #nav li a:hover{ background:url(../images/jz_05.jpg) repeat-x; color:#f00;}
.menu .menu_01 #nav li ul{line-height: 27px; width:120px; background:#fff;  left: -999em; position: absolute; z-index:999;}
.menu .menu_01 #nav li ul li{background: #F6F6F6; width:120px; border-bottom:1px dashed #dedede;}
.menu .menu_01 #nav li ul a{display: block; background:#f6f6f6; font-weight:100;}
.menu .menu_01 #nav li ul a:link{color:#666; text-decoration:none; background:#f6f6f6;}
.menu .menu_01 #nav li ul a:visited{ color:#666;text-decoration:none; background:#fff;}
.menu .menu_01 #nav li ul a:hover{color:#F3F3F3;text-decoration:none;font-weight:normal; background:#C00;}
.menu .menu_01 #nav li:hover ul{ left:auto;}
.menu .menu_01 #nav li.sfhover ul{ left:auto;}
.menu .menu_01 #nav #content{ clear:left;}

.banner{ width:1000px; margin:auto; height:250px; position:relative; overflow:hidden;}
.banner .hd{ position:absolute; right:20px; bottom:20px;}
.banner .hd ul li{ float:left; width:20px; height:20px; background:#f00; text-align:center; line-height:20px; margin-left:10px; cursor:pointer;}
.banner .bd ul li{ width:1000px; height:250px; overflow:hidden;}
.banner .bd ul li img{ width:100%;}

.bj{ width:1000px; margin:auto; overflow:hidden;}
.bj .main .left{ width:191px; float:left; overflow:hidden; background:url(../images/jz_10.jpg) repeat-y;}
.bj .main .left .tt{ background:url(../images/jz_08.jpg) no-repeat; padding-left:50px; line-height:42px; height:43px; font-size:18px; color:#fff;}
.bj .main .left .l1{ height:240px;}
.bj .main .left ul{ padding-bottom:15px;}
.bj .main .left ul li{ background:url(../images/jz_11.jpg) no-repeat bottom center; margin-top:10px; padding-bottom:5px;}
.bj .main .left ul li a{ background:url(../images/jz_12.jpg) no-repeat left 60px center; padding-left:70px;}
.bj .main .left ul li a:hover{ text-decoration:underline;}
.bj .main .left .l2 p{ margin:0px; padding:15px 25px 15px 15px;}
.bj .main .left .l2{ height:220px;}

.bj .main .right{ width:809px; float:left; overflow:hidden;}
.bj .main .right .weizhi{ height:42px; background:url(../images/jz_19.jpg) repeat-x; overflow:hidden; line-height:42px;}
.bj .main .right .weizhi span{ background:url(../images/jz_24.jpg) no-repeat left center; display:block; padding-left:30px;}
.bj .main .right .weizhi span a:hover{ text-decoration:underline;}

.bj .foot{ width:1000px; background:url(../images/jz_22.jpg) repeat-x; height:42px; line-height:42px; text-align:center; font-size:16px; color:#fff;}
.bj .foot a{ color:#fff; padding:0 10px;}

.bj .fbv{ background:url(../images/jz_23.jpg) repeat-x; height:62px; text-align:center; padding-top:10px;}

