@charset "utf-8";
/* CSS Document */

.underline ul{ margin:30px 0 0 150px;}
.underline ul li{ margin-top:10px; line-height:24px;}
.underline ul li input{ margin:0px; padding:0px; outline:none; height:24px; width:200px; border:1px solid #ccc;}
.underline ul li span{ color:#f00;}
.underline ul li textarea{ width:250px; height:50px; outline:none; border:1px solid #ccc;}
.underline ul li .ym{ width:80px; height:24px;}
.underline ul li i{ background:#dde8fc; padding-right:10px;}
.underline .tj{ margin:5px 0 0 150px;}
.underline .tj input{ background:#CCC; border:1px solid #999; width:50px; height:22px; margin-left:10px;}

.underlinelist ul li{ width:750px; margin:auto; margin-top:13px;}
.underlinelist ul li span{ display:block; margin-top:8px;}
.underlinelist ul li #n1{ width:750px; height:24px; background:#dedede; line-height:24px; color:#f00; padding-left:5px;}
.underlinelist ul li #n2,{ margin-left:5px;}
.underlinelist ul li #n3{ margin-left:5px;}
.underlinelist ul #n4{ width:740px; border:1px dashed #f00; color:#f00; padding:5px;}
.underlinelist .page{ text-align:center; margin:10px 0;}
